<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO.Properties.Settings.QLBHConnectionString" connectionString="Data Source=DONGBQ-PC\DONGBQ;Initial Catalog=QLBH;Persist Security Info=True;User ID=sa;Password=dong@#91"
            providerName="System.Data.SqlClient" />
        <add name="ADO.Properties.Settings.QLNSConnectionString" connectionString="Data Source=DONGBQ-PC\DONGBQ;Initial Catalog=QLNS;User ID=sa;Password=dong@#91"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>